/* font styles */

.ubuntu-mono-regular {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
/* ----------- */

body {
    background: #F6F9FB;
    color: #1B2833;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    margin: 0; /* Rimuove il margine predefinito del browser */
    padding-left: 16px; /* Aggiunge spazio interno al body */
    padding-right: 16px; /* Aggiunge spazio interno al body */

}

.heading {
    color: #1B2832;
    font-family: "Ubuntu Mono";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

/* --- NAVBAR --- */

.burger-icon {
    display: none;
}

.simple-menu {
    color: #1B2833;
    display: flex;
    width: 136px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.00rem;
    position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

#sideNav {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }

  @media (min-width: 992px) {
    .navbar-expand-lg {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
  }

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .25rem;
    align-self: stretch;
}

.link-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .25rem;
    align-self: stretch;
}

a {
    color: #2F5279;
    font-family: "Ubuntu Mono";
    font-size: 16px;
    font-style: normal;
    /* text-decoration: none; */
}

a:hover {
    color: #1B2833;
    font-family: "Ubuntu Mono";
    font-size: 16px;
    font-style: normal;
    text-decoration: none;
}

a:active {
    color: #9C4F8B;
    font-family: "Ubuntu Mono";
    font-size: 16px;
    font-style: normal;
    text-decoration: none;
}

.text-strong {
    font-weight: 700;
    color: #354E64;
    font-size: 16px;
    line-height: 150%; 
    font-family: "Quattrocento Sans";
    font-style: normal;
} 

.nav-link {
    color: #1B2833;
    font-family: "Ubuntu Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
   
}

.nav-link:hover {
    color: #2F5279;
    font-family: "Ubuntu Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.nav-link:active {
    color: #9C4F8B;
    font-family: "Ubuntu Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

nav ul {
    list-style-type: none;
    padding-left: 0; 
}

.go-back {
    font-size: 14px;
}

ul {
    list-style-type: square;
}

li::marker {
  color: #476985;
}

.about-section li {
    line-height: 200%; /* 24px */

}

/* BORDI PER IDENTIFICARE LE COLONNE E I CONTENITORI 
.col-3 {
    border:1px solid #cecece;
}

.col-9 {
    border:1px solid #cecece;
}
*/


/*   BUTTONS   */

.button-outline {
    width: auto;
    display: flex;
    padding: 8px 8px 8px 16px;
    align-items: flex-start;
    gap: 4px;
    border-radius: 24px;
    border: 1px solid #4F769C;
    background-color: transparent;
    color: #4F769C;
    font-family: "Ubuntu Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 22px */
}

.button-outline:hover {
    display: flex;
    padding: 8px 8px 8px 16px;
    align-items: flex-start;
    gap: 4px;
    border-radius: 24px;
    border: 1px solid #2F5279;
    background-color: #F6F9FB;
    color: #2F5279;
    font-family: "Ubuntu Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 22px */
}

.button-outline:active {
    display: flex;
    padding: 8px 8px 8px 16px;
    align-items: flex-start;
    gap: 4px;
    border-radius: 24px;
    border: 1px solid #9C4F8B;
    background-color: #F6F9FB;
    color: #9C4F8B;
    font-family: "Ubuntu Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 22px */
}


.icon-arrow {
    fill:none;
    stroke:#4F769C;
    stroke-width:2;
}

.button-outline:hover .icon-arrow {
    fill:none;
    stroke:#2F5279;
    stroke-width:2; 
}

.button-outline:active .icon-arrow {
    fill:none;
    stroke:#9C4F8B;
    stroke-width:2;
}


.material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 24;
  
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;        
}

.about-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 14px;        
}

.about-body p {
    margin-bottom: 0; 
}

.chapters {
    gap: 32px;
}


.details {
    margin-top: 2rem;
    grid-column-gap: 2rem;
}

.details .col-4 img {
    border: 1px solid #B6C9DA;
    border-radius: 24px;
}



.img-static {
    border-radius: 24px;
    filter: grayscale(40%);
    
}

/*  DA BIANCO E NERO A COLORI CON IMG HOVER
.sezione-card img {
    border-radius: 24px;
    filter: grayscale(80%);
}

.sezione-card:hover img {
    border-radius: 24px;
    filter: grayscale(0%);
}
*/

p {
    color: #1B2833;
    /* Body_1 */
    font-family: "Quattrocento Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.about-body a {
    font-family: "Quattrocento Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */

}

.paragraphs {
    color: #080F14;
    /* Body_1 */
    font-family: "Quattrocento Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}


/* Sezione Resume */

.about-body-resume {
    display: flex;
    padding-left: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    border-left: 1px solid #5e9c4f;

}

.paragraphs-resume > p {
    color: #080F14;
    /* Body_1 */
    font-family: "Quattrocento Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.spazio-resume {
    margin-bottom: 3rem;
}

.paragraphs > .spazio-resume > p {
    color: #080F14;
    /* Body_1 */
    font-family: "Quattrocento Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    margin-bottom: 10px;
}

.riga-resume .heading {
    margin-bottom: 20px;
    margin-top: 10px;
}

/*
strong {    
    color: #316E26;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; 
    font-family: "Quattrocento Sans";
    font-style: normal;
} */


/*. ------- CARD ------- */
.card {
    border-radius: 24px;
    border-color: #FFF;
    background: #FFF;
}

.annotation.list {
    gap: 16px;
}

.annotation-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;   
  padding: 16px;
  border-radius: 24px;
  border: 1px solid #C6DCF0;
  background-color: #F6F9FB;
  /* responsive */
  width: 100%;           /* occupa tutto lo spazio della colonna */
  min-width: 160px;      /* Non sotto i 160px */
  max-width: 300px;      /* Non più larga di così su schermi enormi */
  /* impedire alle parole lunghe di rompere il layout se la card è molto stretta */
  word-wrap: break-word; 
  overflow-wrap: break-word;
}

.annotation-card p {
  color: #30475A;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.28px;
  margin: 0 !important;
  gap: 0px;
}

.annotation-text {
  color: #30475A;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.28px;
  margin: 0; 
  gap: 0px;
}


.annotation-text > * { 
    margin-top: 0px; 
    margin-bottom: 0px;
}


.annotation-badge-style {
  display: inline-flex;
  padding: 4px 12px; 
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  /* Stili del testo del badge  */
  color: #505C68;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.56px;
  font-feature-settings: 'salt' on;
}

.badge-content {
  background-color: #F7DABC;
}

.badge-steps { 
  background-color: #FBF7D7;
}

.badge-a11y { 
  background-color: #F7D9F8;
}

.badge-uxdesign { 
  background-color: #C2EED3;
}

.badge-interaction { 
  background-color: #C6D4EB;
}


/*
.card .card-content {
    padding: var(--font-size-caption, 16px) var(--font-size-caption, 16px) 24px var(--font-size-caption, 16px);
    gap: var(--font-size-h3, 32px);
}


 HORIZONTAL CARD 
#horizontal-card {
    display: flex;
    height: 424px;
    align-items: flex-start;
    gap: var(--font-size-caption, 16px);
    align-self: stretch;
    border-radius: 24px;
    background: #FFF;
}

#horizontal-card .card-content {
    display: flex;
    padding: var(--font-size-caption, 16px) var(--font-size-caption, 16px) 24px var(--font-size-caption, 16px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--font-size-h3, 32px);
    flex: 1 0 0;
    align-self: stretch;
}
*/

.card-content .text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--font-size-caption, 16px);
    align-self: stretch;
}

.card-content h1 {
    color: #1B2833;
    font-family: "Ubuntu Mono";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 26.4px */
}

.card-content p {
    color: #1B2833;
    /* Body_1 */
    font-family: "Quattrocento Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}


/* VERTICAL CARD */
#vertical-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
    border-radius: 24px;
    background: #FFF;
}


#vertical-card .card-content {
    display: flex;
    padding: var(--font-size-caption, 16px) var(--font-size-caption, 16px) 24px var(--font-size-caption, 16px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--font-size-h3, 32px);
    flex: 1 0 0;
    align-self: stretch;
}

.button-arrow {
    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap: 4px;
    border-radius: 24px;
    border: 1px solid #4F769C;
    color: #4F769C;
    background-color: transparent;
}

#vertical-card:hover .icon-arrow {
    fill:none;
    stroke:#2F5279;
    stroke-width:2; 
}

#vertical-card:active .icon-arrow {
    fill:none;
    stroke:#9C4F8B;
    stroke-width:2;
}

.card-img-first {
    max-height: 80%;
}



#vertical-card:hover > .card-body > #b {
    border: 1px solid #2F5279;
    color: #2F5279;
    background-color: #F6F9FB;
}


#vertical-card:active > .card-body > #b {
    border: 1px solid #9C4F8B;
    color: #9C4F8B;
    background-color: #F6F9FB;
}

.card-content-vertical {
    display: flex;
    padding: 0px var(--font-size-caption, 16px) var(--font-size-caption, 16px) var(--font-size-caption, 16px);
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 8px;
    align-self: stretch;
}

.card-content-vertical .text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--font-size-caption, 16px);
    align-self: stretch;
}

.card-content-vertical h1 {
    color: #1B2833;
    font-family: "Ubuntu Mono";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 26.4px */
}

.card-content-vertical p {
    color: #1B2833;
    /* Body_1 */
    font-family: "Quattrocento Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.avatar{
  vertical-align: middle;
  
  border-radius: 24%;
}

.card-resume{
    background-color: transparent;
    border-color: transparent;
}

.testo-dati-personali p{
    color: #080F14;
    /* Body_1 */
    font-family: "Ubuntu Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 80%; /* 24px */

}


.aa {
    background-color: #4F769C;
    border: 2px solid #9C4F8B;
}


/* Media query for mobile screens */
@media only screen and (max-width: 600px){
    /* body {
        
      }
    Show the burger menu icon */
    .burger-icon {
      display: block;
    }

    .simple-menu {
        display: none;
       }

}
