/* font styles */

.ubuntu-mono-regular {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
/* ----------- */

body {
    color: #1B2833;
    font-family: "Ubuntu Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.heading {
    color: #1B2833;
    font-family: "Ubuntu Mono";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

.simple-menu {
    color: #1B2833;
    display: flex;
    width: 136px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.00rem;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .25rem;
    align-self: stretch;
}

.link-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .25rem;
    align-self: stretch;
}

.nav-link {
    color: #1B2833;
    font-family: "Ubuntu Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    display: list-item;
    list-style-position: outside;
}

.nav-link:hover {
    color: #2F5279;
    font-family: "Ubuntu Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.nav-link:active {
    color: #9C4F8B;
    font-family: "Ubuntu Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.col-3 {
    border:1px solid #cecece;
}

.col-9 {
    border:1px solid #cecece;
}


.button-outline {
    display: flex;
    padding: 8px 8px 8px 16px;
    align-items: flex-start;
    gap: 4px;
    border-radius: 24px;
    border: 1px solid #4F769C;
    background-color: transparent;
    color: #4F769C;
    font-family: "Ubuntu Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 22px */
}

.button-outline:hover {
    display: flex;
    padding: 8px 8px 8px 16px;
    align-items: flex-start;
    gap: 4px;
    border-radius: 24px;
    border: 1px solid #2F5279;
    background-color: transparent;
    color: #2F5279;
    font-family: "Ubuntu Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 22px */
}

.button-outline:active {
    display: flex;
    padding: 8px 8px 8px 16px;
    align-items: flex-start;
    gap: 4px;
    border-radius: 24px;
    border: 1px solid #9C4F8B;
    background-color: transparent;
    color: #9C4F8B;
    font-family: "Ubuntu Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 22px */
}

/*   BUTTONS -------------------------  Material Symbols   */
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24;
  
}
